git:
  depth: 5

language: node_js

node_js:
  - "6"
  - "8"
  - "10"

os:
  - linux
  - windows

install:
  - npm install

script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then npm run test:cov; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then npm run test; fi

after_success:
  - if [[ "$TRAVIS_OS_NAME" == "linux" && "$TRAVIS_NODE_VERSION" = "10" ]]; then npm run coveralls; fi

cache:
  directories:
    - node_modules

notifications:
  email: false
